@charset "UTF-8";
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@keyframes fadeLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@-webkit-keyframes fadeRight {
from {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
            transform: translate3d(-50px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@keyframes fadeRight {
from {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
            transform: translate3d(-50px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@-webkit-keyframes fadeUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@keyframes fadeUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@-webkit-keyframes fadeDown {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@keyframes fadeDown {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
}

@-webkit-keyframes bgAnime {
0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}
100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}
}

@keyframes bgAnime {
0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}
100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}
}

@-webkit-keyframes textAnime {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@keyframes textAnime {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@-webkit-keyframes scroller {
0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}
15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
}
85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
}
100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
}
}

@keyframes scroller {
0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}
15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
}
85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
}
100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
}
}

@-webkit-keyframes slideInImg {
100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
}

@keyframes slideInImg {
100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
}

* {
margin: 0;
padding: 0;
}

h1 {
font-weight: normal;
margin: 0;
font-size: 23px;
line-height: 1.4em;
font-weight: bold;
}

h2 {
font-size: 1em;
font-weight: normal;
margin: 0;
}

h3 {
font-size: 16px;
font-weight: normal;
margin: 0;
}

h4 {
font-size: 1em;
font-weight: normal;
margin: 0;
}

h5 {
font-size: 1em;
font-weight: normal;
margin: 0;
}

h6 {
font-size: 1em;
font-weight: normal;
margin: 0;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

ul li, ol li {
list-style: none;
}

a {
color: #23366f;
text-decoration: none;
outline: none;
}
body {
    width: inherit;
    height: inherit;
    min-width: 320px;
    color: #555;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: normal;
    line-height: 1.8;
    word-break: break-all;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
    position: relative;
}
/*ユニークここから*/
.popup-header, .popup-footer {
display: none;
}

/*header*/
.l-Section--Small{
    padding-bottom: 80px;
}
.l-Header, .l-Header--Simple {
width: 100%;
background: #fff;
position: fixed;
top: 0;
left: 0;
z-index: 9;
}
.l-Header--Simple {
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
    }
.l-Header--Simple .l-Header__Inner {
    height: auto;
    padding: 0;
    }
.l-Header__Inner {
    position: relative;
    }
.l-Header__Logo--Img {
    width: 100%;
}
.l-Header__Inner {
    position: relative;
    }
.l-Header--Simple .l-Header__Inner {
    height: auto;
    padding: 0;
}
.l-Header__Logo {
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease;
}
.l-Header--Simple .l-Header__Logo {
    position: static;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate(0);
    transform: translate(0);
}
.l-Header, .l-Header--Simple {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.l-Header--Simple {
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
}
.l-Header__Logo--Link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    }
.l-Header__Logo--Img {
    width: 100%;
    }
    .l-Mainvisual--Bg .l-Mainvisual__Text, .l-Mainvisual--Bg .l-Mainvisual__Text--White {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .l-Mainvisual__Text, .l-Mainvisual__Text--White {
        width: 100%;
        font-weight: normal;
        color: #23366f;
        line-height: 1.8;
    }
    .l-Inner--1140 {
        max-width: 1140px;
        box-sizing: content-box;
        margin-right: auto;
        margin-left: auto;
    }
    
        /* MAX 750 */
    @media print, screen and (max-width: 750px) {
        .l-Section--Small{
            padding-bottom: 10.66vw;
        }
        /* .l-Header, .l-Header--Simple {
            height: 14.66vw;
        } */
        .l-Header--Simple {
            padding-right: 5.33vw;
            padding-left: 5.33vw;
        }
        .l-Header__Inner {
            height: 100%;
            padding: 0 5.33vw;
        }
        .l-Header__Logo--Img {
            max-width: 36.26vw;
        }
        .l-Header__Logo {
            width: 25.06vw;
            left: 4.8vw;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
        }
        .l-Header__Logo--Text {
            display: none;
        }
    }
    
    
    /* MIN 751 */
    @media print, screen and (min-width: 751px) {
        .l-Header__Inner {
            padding: 0 50px;
            display: flex;
            flex-wrap: initial;
            justify-content: space-between;
            align-items: center;
        }
        .l-Header--Simple {
            padding-right: 40px;
            padding-left: 40px;
        }
        .l-Header__Logo--Text {
            margin-left: 10px;
            font-size: 15px;
        }
        .l-Header__Logo--Img {
            max-width: 304px;
        }
        .l-Header--Simple .l-Header__Logo--Img {
            max-width: 150px;
        }
        .l-Header__Logo--Img {
            max-width: 304px;
        }
        .l-Header--Simple .l-Header__Logo--Img {
            max-width: 150px;
        }
        .l-Header--Simple {
            padding-right: 40px;
            padding-left: 40px;
        }
        .l-Header__Logo {
            min-width: 285px;
            top: 20px;
            left: 35px;
        }
        .l-Header--Simple .l-Header__Logo {
            min-width: 100%;
        }
    }
    
    /* MAX 1280 */
    @media print, screen and (min-width: 751px) and (max-width: 1280px) {
        .l-Header--Simple {
            padding-right: 30px;
            padding-left: 30px;
        }
        }
    
    /* MAX 1400 */
    @media print, screen and (min-width: 981px) and (max-width: 1400px) {
    .l-Header__Inner {
        padding: 0 20px;
    }
    .l-Header__Logo {
        min-width: 20.35vw;
        top: 1.42vw;
        left: 1.42vw;
    }
    }
    
    /* 715 - 1280 */
    @media print, screen and (min-width: 751px) and (max-width: 1280px) {
        .l-Header--Simple {
            padding-right: 30px;
            padding-left: 30px;
        }
    
    
        .l-Header__Inner {
        position: relative;
        }
    
        .l-Header--Simple .l-Header__Inner {
        height: auto;
        padding: 0;
        }
    }
    
    /* MIN 751 - MAX980 */
    
    @media print, screen and (min-width: 751px) and (max-width: 980px) {
        .l-Header__Logo--Img {
            width: 100%;
        }
        .l-Header__Logo--Img {
            max-width: 40.81vw;
        }
        .l-Header__Logo {
            min-width: 29.08vw;
            margin-top: 2.04vw;
            position: static;
            top: 0;
            left: 0;
        }
        .l-Header__Logo {
            min-width: 29.08vw;
            margin-top: 2.04vw;
            position: static;
            top: 0;
            left: 0;
        }
        .l-Header__Logo--Text {
            margin-left: 1.02vw;
            font-size: 1.53vw;
        }
    }
    
    /* MIN 981 - MAX1400 */
    
    @media print, screen and (min-width: 981px) and (max-width: 1400px) {
        .l-Header__Logo--Img {
            max-width: 21.71vw;
        }
        .l-Header__Logo--Text {
            margin-left: 0.71vw;
            font-size: 1.07vw;
        }
        .l-Header__Logo--Img {
            max-width: 21.71vw;
        }
    }






/* メイン */

/* タイトル箇所 */
/* Title */
.l-Mainvisual--Bg {
    height: 240px;
    background: #F4F7FE;
    text-align: center;
}
.l-Mainvisual--Bg .l-Mainvisual__Text, .l-Mainvisual--Bg .l-Mainvisual__Text--White {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.l-Mainvisual__Text, .l-Mainvisual__Text--White {
    width: 100%;
    font-weight: normal;
    color: #23366f;
    line-height: 1.8;
}
.l-Mainvisual--Bg .l-Mainvisual__Title--Small {
    font-size: 42px;
    font-weight: normal;
}

@media print, screen and (max-width: 750px){
    .l-Mainvisual--Bg {
        height: 53.33vw;
    }
    .l-Mainvisual--Bg .l-Mainvisual__Title--Small {
        font-size: 7.46vw;
    }
}
/* タイトル箇所 */

    .accordion-details {
        max-width: 500px;
        margin-bottom: 7px;
        border-bottom: 2px solid #d6dde3;
    }
    .accordion-details summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em;
        color: #333333;
        font-weight: 600;
        cursor: pointer;
    }
    .accordion-details summary::-webkit-details-marker {
        display: none;
    }
    .accordion-details summary::after {
        transform: translateY(-25%) rotate(45deg);
        width: 7px;
        height: 7px;
        margin-left: 10px;
        border-bottom: 3px solid #333333b3;
        border-right: 3px solid #333333b3;
        content: '';
        transition: transform .3s;
    }
    
    .accordion-details[open] summary::after {
        transform: rotate(225deg);
    }
    
    .accordion-details p {
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: .3em 2em 1.5em;
        color: #333333;
        transition: transform .5s, opacity .5s;
    }
    
    .accordion-details[open] p {
        transform: none;
        opacity: 1;
    }



    /* footer start */
.footer_container {
    line-height: 1.8;
    background-color: #dae2f4;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
    padding-right: 40px;
    padding-left: 40px;
}
.footer_copy {
    color: #23366f;
    line-height: 1.5;
    text-align: center;
    font-family: "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

@media print, screen and (max-width: 750px){
    .footer_container{
        margin-top: 16vw;
        padding-top: 5.33vw;
        padding-bottom: 5.33vw;
    }
    .footer_copy {
        margin-top: 0;
        font-size: 3.46vw;
    }
}