:before, :after {
    box-sizing: inherit;
}

.accordion-item {
    border-top-color: #2167ae;    
}
.border-top-0 {
    border-top-style: none;
    border-top-width: 0;
}
.accordion-header {
    cursor: pointer;
    margin: 0;
    position: relative;
}
.accordion-button {
    color: #2167ae;
}
button {
    color: #2167ae;
}
button, input {
    overflow: visible;
}


.accordion-button-custom-icon--align-top {
    align-items: flex-start;
}
.accordion-button-custom-icon {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    padding: 24px 0;
    align-items: center;
}
.icon {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    padding: 24px 0;
    align-items: center;
}